In [0]:
data = "Hello \nMy name is Prashant"
print(data)

Hello
My name is Prashant

In [0]:
#Loops -- Its all about re-iterating the statement multiple times subject to condition
#For loop --- To traverse and perform operation on a collection object !!!

In [0]:
# Range function in python - Allows users to create a range of values and store the same in the form 
# of collection

#range(start_value, upper_bound_value) 
# Where
# upper_bound_value = endvalue + 1

list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [0]:
list(range(10,21))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [0]:
collectionObject = list(range(1,11)) 
collectionObject

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [0]:
#How to access each element in the collection
for tempVariable in collectionObject:
    print(tempVariable) #Printing

1
2
3
4
5
6
7
8
9
10

In [0]:
#Adding 1 to each number
for tempVariable in collectionObject:
    print(tempVariable + 1)

2
3
4
5
6
7
8
9
10
11

In [0]:
#Extract only even numbers from the list
for num in collectionObject:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [0]:
#Extract only even numbers from the list
resultList = [] #empty list
for num in collectionObject:
    if num % 2 == 0:
        resultList.append(num)

In [0]:
resultList

[2, 4, 6, 8, 10]

In [0]:
#Extract only even & odd numbers from the list
evenList = [] #empty list
oddList = []
for num in collectionObject:
    if num % 2 == 0:
        evenList.append(num)
    else:
        oddList.append(num)

In [0]:
print(evenList)
print(oddList)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [0]:
# Question

salaryList = [1000,2000,3000,4000,5000]

#Increment the salary of the employee based on the following condition
# if income is less than 2000 --> 20% hike
# if the income is between 2000 and 4000 --> 10% hike
# if the income is greater than 4000 ---> No hike

updatedSalary= []

for sal in salaryList:
    if sal < 2000:
        updatedSalary.append(sal * 1.2)
    elif sal <= 4000:
        updatedSalary.append(sal * 1.1)
    else:
        updatedSalary.append(sal)

updatedSalary

[1200.0, 2200.0, 3300.0000000000005, 4400.0, 5000]

In [0]:
for i in updatedSalary:
    #print("$ ",round(i))
    print("$ {0:.2f}".format(i))

$ 1200.00
$ 2200.00
$ 3300.00
$ 4400.00
$ 5000.00

In [0]:
# Question

salaryList = [1000,2000,3000,4000,5000]

#Increment the salary of the employee based on the following condition
# if income is less than 2000 --> 20% hike
# if the income is between 2000 and 4000 --> 10% hike
# if the income is greater than 4000 ---> No hike

#updatedSalary= []
i = 0
for sal in salaryList:
    if sal < 2000:
        salaryList[i] = sal * 1.2
    elif sal <= 4000:
        salaryList[i] = sal * 1.1
    else:
        salaryList[i] = sal
    i = i+1
    
salaryList

[1200.0, 2200.0, 3300.0000000000005, 4400.0, 5000]