In [1]:
import pandas as pd
import numpy as np

In [6]:
data = pd.DataFrame([[1,"Comedy,Thriller,Fun"]
                    ,[2,"Comedy,Art,Fun"]], columns=["id","Genre"])

In [25]:
data

   id                Genre
0   1  Comedy,Thriller,Fun
1   2       Comedy,Art,Fun

In [26]:
#Comedy, Thriller, Fun, Art

In [28]:
list1 = data.Genre.str.split(",").tolist()
list1

[['Comedy', 'Thriller', 'Fun'], ['Comedy', 'Art', 'Fun']]

In [29]:
finalElements = []
for minorList in list1:
    for element in minorList:
        finalElements.append(element)
finalElements

['Comedy', 'Thriller', 'Fun', 'Comedy', 'Art', 'Fun']

In [30]:
set(finalElements)

{'Art', 'Comedy', 'Fun', 'Thriller'}